<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Ruta" value ="C:\Users\formacion\AppData\Local\VuelingFileServer"/>
    <add key="Fichero" value ="Alumno.json"/>
  </appSettings>
</configuration>